@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

html {
    background: url(../images/bkgd-image.jpg) no-repeat fixed 50% 50%;
    font-family: 'Roboto Mono', serif;
}

div.centerBox {
    /*for text*/
    text-align: center;
    color: #fff;
    line-height: 150%;

    /*for centering*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

div.centerBox h1 {
    font-size: 64pt;
    letter-spacing: 50px;
    text-indent: 50px;
}

div.centerBox h2 { font-size: 32pt; }

div.centerBox p { font-size: 16pt; }

/*link decoration*/
div.centerBox a { color: #fff; text-decoration: none; -webkit-transition: all 0.5s linear; }
div.centerBox a:hover { color: #fff; text-shadow: 0 0 15px #fff; text-decoration: none;  }

/*list decoration*/
/*source: http://www.newmediacampaigns.com/blog/nicer-navigation-with-css-transitions#*/
#trans-nav { list-style-type: none; height: 40px; padding: 0; margin: 0; }
#trans-nav li { float: left; position: relative; padding: 0; line-height: 40px; background: #5a8078 repeat-x 0 0; -webkit-transition: all 0.2s; }
#trans-nav li:hover { background-position: 0 -40px; }
#trans-nav li a { display: block; padding: 0 15px; color: #fff; text-decoration: none; -webkit-transition: all 0.5s; }
#trans-nav li a:hover { color: #a3f1d7; }
#trans-nav li ul { opacity: 0; position: absolute; left: 0; width: 200%; background: #63867f; list-style-type: none; padding: 0; margin: 0; -webkit-transition: all 1s; }
#trans-nav li:hover ul { opacity: 1; }
#trans-nav li ul li { float: none; position: static; height: 0; line-height: 0; background: none; -webkit-transition: height 0.5s; }
#trans-nav li:hover ul li { height: 30px; line-height: 30px;}
#trans-nav li ul li a { background: #63867f; }
#trans-nav li ul li a:hover { background: #5a8078; }