body {
    font-family: 'Fira Code', serif;
    font-size: .75vmax;
}

.fixed-width {
    margin: auto;
    max-width: 20vmax;
}

a {
    color: black;
    text-decoration: underline dotted;
}

a:hover {
    -webkit-animation: zomg 0.5s infinite;
    animation: zomg 0.5s infinite;
}

@-webkit-keyframes zomg {
    0%, 100% {
        color: #7ccdea;
    }
    16% {
        color: #0074d9;
    }
    32% {
        color: #2ecc40;
    }
    48% {
        color: #ffdc00;
    }
    64% {
        color: #b10dc9;
    }
    80% {
        color: #ff4136;
    }
}

@keyframes zomg {
    0%, 100% {
        color: #7ccdea;
    }
    16% {
        color: #0074d9;
    }
    32% {
        color: #2ecc40;
    }
    48% {
        color: #ffdc00;
    }
    64% {
        color: #b10dc9;
    }
    80% {
        color: #ff4136;
    }
}
